<% provide(:title, "#{article.title}") %>
<div class="article-box">

	<h3 class="title-container">
		<%= link_to "#{article.title}", article_path(article.id) %>
		<% if signed_in? %>
        | <%= link_to "削除", article, method: "delete",data: { confirm: "You sure?" } %>
        <% end %>
	</h3>
	<div class="entry-image">

		<%= link_to image_tag("#{article.image}", alt:"#{article.title}"), article_path(article.id) %>
	</div>
	<ul class="entry-data">
		<li class="description">
			<%= sanitize "#{article.content}"%>
		</li>
	</br></br>
		<li class="readmore">
			<button type = "button" class="btn btn-large">
				<%= link_to "動画を見る", article_path(article.id) %>
			</button>
		</li>
		<li class="category">
			<a><%= link_to "#{article.category}", '#' %></a>
			<% if article.category2 %>
			<a><%= link_to "#{article.category2}", '#' %></a>
			<% end %>
			<% if article.category3 %>
			<a><%= link_to "#{article.category3}", '#' %></a>
			<% end %>
			<% if article.category4 %>
			<a><%= link_to "#{article.category4}", '#' %></a>
			<% end %>
		</li>
		<li class="date">
			<%= "#{article.created_at.getlocal}"%>
		</li>
	</ul>
	<ul class="entry-meta">
		<li class="domain">

				<%= link_to "#{article.domain}", "#{article.domain}" %>

		</li>
	</ul>
</div>

