<div class="article-box">
	<div class="article-box-title-container">
		<div class="entry-meta-top">
			<div class = "clicks_container">
				<span class = "clicks"><%= "#{avsample.pv}" %></span><span class = "clicks_clicks">clicks  </span>
				<span class="date">
					<%= "#{avsample.created_at.in_time_zone("Tokyo").to_formatted_s(:without_second)}"%>
				</span>
			</div>
		</div>		
		<h3>
			<%= "#{avsample.title} " %>
		</h3>
		<ul class="category">
			カテゴリ； <li><%= link_to "無料AV動画", avsamples_path %></li>
		</ul>
		<% if signed_in? %>
		<%= link_to "削除", avsample, method: "delete",data: { confirm: "You sure?" } %>
		| <%= link_to "編集", edit_avsample_path(avsample), method: "get" %>
		<% end %>

	</div>
	<div class="article-content">
		<div class="entry-data">		
			<div class="entry-image">
				<%= link_to image_tag("#{avsample.image}", alt:"#{avsample.title}"), avsample_path(avsample.id) %>
			</div>

			<p class="description">
				<%= sanitize "#{avsample.content}"%>
			</p>
		</div>
		<div class="readmore">
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation" class="active"><a href=<%="#{avsample_path(avsample.id)}" %>>動画を見る</a></li>
			</ul>

		</div>

		<div class="entry-meta">

			<p class="domain">
				<%= link_to "全部見る", "#{avsample.affi_link}" %>
			</p>
			
		</div>
	</div>
</div>			


