<% provide(:title, " ") %>

<div class = "digg_pagination">        
<%= will_paginate %>
</div>
<%= render @articles %>
<%= render "layouts/ad_content_footer" %>
<div class = "digg_pagination">
<%= will_paginate %>
</div>
<div id="sekurosu_"></div><script src="http://sekurosu.com/embed?num=6&height=180&genre=all"></script><p class="sekurosu_parts_copyright">powered by <a href="http://sekurosu.com" target="_blank" title="セクロスあんてな">セクロスあんてな</a></p>
<%= render "layouts/ad_footer" %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57209640-1', 'auto');
  ga('send', 'pageview');

</script>