<% provide(:title, " ") %>
        
        
    
<form class="form-search ">
<%= form_tag articles_path, :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "検索", :name => nil %>
<% end %>
</form>
<%= will_paginate %>
<%= render @articles %>
<%= render "layouts/ad_content_footer" %>
<%= will_paginate %>
<%= render "layouts/ad_footer" %>
