<% provide(:title, " ") %>

<div class = "digg_pagination">        
<%= will_paginate %>
</div>
<%= render @articles %>
<%= render "layouts/ad_content_footer" %>
<div class = "digg_pagination">
<%= will_paginate %>
</div>

<!--各種アンテナサイト-->
<%= render "layouts/ad_footer" %>
<p>
<div id="sekurosu_"></div><script src="http://sekurosu.com/embed?num=6&height=180&genre=all"></script><p class="sekurosu_parts_copyright">powered by <a href="http://sekurosu.com" target="_blank" title="セクロスあんてな">セクロスあんてな</a></p>
<div class="eroan_embed" data-category="video" data-direction="horizontal"></div><script src="http://ero-an.net/system/blogparts.js" charset="UTF-8"></script>
</p>
