<% provide(:title, "ホーム/新着") %>


<%= render "index_header" %>
<%= render @articles %>
<%= render "ad_index_footer" %>

<div class = "digg_pagination">
	<%= will_paginate %>
</div>

<%= render "layouts/ad_footer" %>


