
<h2>Create Article</h2>


<div class="form-box">
	<%= form_for @article do |f| %>
	<%= render 'shared/error_messages' %>
	<div class="float-form-left">

		<% @article.title = "a" %>
		<% @article.content = "a" %>
		<% @article.domain = "abc" %>
		<% @article.sumnail = "a" %>

		<%= f.label :title %>
		<%= f.text_field :title %>

		<%= f.label :content %>
		<%= f.text_area :content, :size => "40x10" %>
		<%= f.label :domain %>
		<%= f.text_field :domain, :size => "200x15" %>

		<%= f.label :sumnail %>
		<%= f.text_field :sumnail, :size => "100x15" %>
		<%= f.label :image %>
		<%= f.file_field :image %>
		<%= f.submit "Create an Article", class: "btn btn-small" %>

	</div>
	<div class = "float-form-left">
		<%= f.label "--おっぱい--" %>
		<%= collection_check_boxes(:article, :category_ids, Category.where("maincateogry = 'おっぱい'"), :id, :name) do |b| %>
		<%= b.label { b.check_box + b.text } %>
		<% end %>
		<%= f.label "--大きさ--" %>
		<%= collection_check_boxes(:article, :category_ids, Category.where("maincateogry = '大きさ'"), :id, :name) do |b| %>
		<%= b.label { b.check_box + b.text } %>
		<% end %>
		<%= f.label "--形状--" %>
		<%= collection_check_boxes(:article, :category_ids, Category.where("maincateogry = '形状'"), :id, :name) do |b| %>
		<%= b.label { b.check_box + b.text } %>
		<% end %>
		<%= f.label "--質感--" %>
		<%= collection_check_boxes(:article, :category_ids, Category.where("maincateogry = '質感'"), :id, :name) do |b| %>
		<%= b.label { b.check_box + b.text } %>
		<% end %>

		<%= f.label "--乳首--" %>
		<%= collection_check_boxes(:article, :category_ids, Category.where("maincateogry = '乳首'"), :id, :name) do |b| %>
		<%= b.label { b.check_box + b.text } %>
		<% end %>

		<%= f.label "--乳輪--" %>
		<%= collection_check_boxes(:article, :category_ids, Category.where("maincateogry = '乳輪'"), :id, :name) do |b| %>
		<%= b.label { b.check_box + b.text } %>
		<% end %>
	</div>
	<div class = "float-form-left">
		<%= f.label "--体型--" %>
		<%= collection_check_boxes(:article, :category_ids, Category.where("maincateogry = '体型'"), :id, :name) do |b| %>
		<%= b.label { b.check_box + b.text } %>
		<% end %>

		<%= f.label "--女の子のタイプ--" %>
		<%= collection_check_boxes(:article, :category_ids, Category.where("maincateogry = '女の子のタイプ'"), :id, :name) do |b| %>
		<%= b.label { b.check_box + b.text } %>
		<% end %>

		<%= f.label "--チラリズム--" %>
		<%= collection_check_boxes(:article, :category_ids, Category.where("maincateogry = 'チラリズム'"), :id, :name) do |b| %>
		<%= b.label { b.check_box + b.text } %>
		<% end %>

		<%= f.label "--プレイのタイプ--" %>
		<%= collection_check_boxes(:article, :category_ids, Category.where("maincateogry = 'プレイのタイプ'"), :id, :name) do |b| %>
		<%= b.label { b.check_box + b.text } %>
		<% end %>

		<%= f.label "--フェチ--" %>
		<%= collection_check_boxes(:article, :category_ids, Category.where("maincateogry = 'フェチ'"), :id, :name) do |b| %>
		<%= b.label { b.check_box + b.text } %>
		<% end %>

		<%= f.label "--スカトロ--" %>
		<%= collection_check_boxes(:article, :category_ids, Category.where("maincateogry = 'スカトロ'"), :id, :name) do |b| %>
		<%= b.label { b.check_box + b.text } %>
		<% end %>

		<%= f.label "--AV女優名--" %>
		<%= collection_check_boxes(:article, :category_ids, Category.where("maincateogry = 'AV女優名'"), :id, :name) do |b| %>
		<%= b.label { b.check_box + b.text } %>
		<% end %>

		<%= f.submit "Create an Article", class: "btn btn-small" %>
	</div>
	<% end %>
</div>
