
<h1>Create Article</h1>


<div class="form-box">
		<%= form_for @article do |f| %>
		<%= render 'shared/error_messages' %>
		<div class="float-form-left">

		<%= f.label :title %>
		<%= f.text_field :title %>

		<%= f.label :content %>
		<%= f.text_area :content, :size => "40x10" %>

	</div>
		<div class="float-form-right">

		<%= f.label :category %>
		<%= f.select :category, {"AV女優" => "AV女優", "美少女" => "美少女","ギャル" => "ギャル","素人" => "素人","企画" => "企画","フェチ"=>"フェチ","おっぱい"=>"おっぱい","フェラ/手コキ"=>"フェラ/手コキ","盗撮"=>"盗撮","放尿/脱糞"=>"放尿/脱糞","女子高生"=>"女子高生","女子大生"=>"女子大生","お宝/ハプニング"=>"お宝/ハプニング","アイドル"=>"アイドル" } %>
		<%= f.label :category2 %>
		<%= f.select :category2, {"AV女優" => "AV女優", "美少女" => "美少女","ギャル" => "ギャル","素人" => "素人","企画" => "企画","フェチ"=>"フェチ","おっぱい"=>"おっぱい","フェラ/手コキ"=>"フェラ/手コキ","盗撮"=>"盗撮","放尿/脱糞"=>"放尿/脱糞","女子高生"=>"女子高生","女子大生"=>"女子大生","お宝/ハプニング"=>"お宝/ハプニング","アイドル"=>"アイドル" } %>
		<%= f.label :category3 %>
		<%= f.select :category3, {"AV女優" => "AV女優", "美少女" => "美少女","ギャル" => "ギャル","素人" => "素人","企画" => "企画","フェチ"=>"フェチ","おっぱい"=>"おっぱい","フェラ/手コキ"=>"フェラ/手コキ","盗撮"=>"盗撮","放尿/脱糞"=>"放尿/脱糞","女子高生"=>"女子高生","女子大生"=>"女子大生","お宝/ハプニング"=>"お宝/ハプニング","アイドル"=>"アイドル" } %>
		<%= f.label :category4 %>
		<%= f.select :category4, {"AV女優" => "AV女優", "美少女" => "美少女","ギャル" => "ギャル","素人" => "素人","企画" => "企画","フェチ"=>"フェチ","おっぱい"=>"おっぱい","フェラ/手コキ"=>"フェラ/手コキ","盗撮"=>"盗撮","放尿/脱糞"=>"放尿/脱糞","女子高生"=>"女子高生","女子大生"=>"女子大生","お宝/ハプニング"=>"お宝/ハプニング","アイドル"=>"アイドル" } %>

		<%= f.label :domain %>
		<%= f.text_field :domain, :size => "200x15" %>

		<%= f.label :sumnail %>
		<%= f.text_field :sumnail, :size => "100x15" %>
				<%= f.submit "Create an Article", class: "btn btn-small" %>
	</div>

		<% end %>
	</div>
