<% provide(:title, "#{@article.title}") %>

<h3>
	<%= "#{@article.title}" %>
</h3>
<div class="entry-box">
	<!-- 動画埋め込みタグ -->
	<div class="entry-main">
		<div class="entry-movie">
			<%= @article.sumnail.html_safe %>
		</div>
		<div class="entry-original">
			<p>見れない場合はこちらから（元サイトへ）→ <%= link_to "#{@article.domain}", "#{@article.domain}" %></p>
		</div>

		<div class="entry-data-show">
			<div class="ad-content-show">
				<%= render 'ad_show_header' %>
			</div>
			<div class="entry-description">
				<h4>動画詳細</h4>
				<span class = "entry-social_button">
					<a href= <%="http://b.hatena.ne.jp/entry/http://dive-in-boobs.com/articles/#{@article.id}" %> class="hatena-bookmark-button" data-hatena-bookmark-title=<%= "#{@article.title}" %> data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

					<a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-count="none" data-hashtags="dive_in_boobs">ツイート</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</span>
				<p>
					<%= sanitize "#{@article.content}"%>
				</p>
			</div>
			<ul class="entry-category">
				<li><%= link_to "#{@article.category}", '#' %></li>
				<% if @article.category2 %>
				<li><%= link_to "#{@article.category2}", '#' %></li>
				<% end %>
				<% if @article.category3 %>
				<li><%= link_to "#{@article.category3}", '#' %></li>
				<% end %>
				<% if @article.category4 %>
				<li><%= link_to "#{@article.category4}", '#' %></li>
				<% end %>
			</ul>
			<p class="entry-date">
				<%= "#{@article.created_at.getlocal}"%>
			</p>
		</div>
		<%= render "ad_show_footer" %>

	</div>

	<div class="entry-sidebar">
		<div class = "display_only_pc">
			<h4><%= image_tag "newarticles.png" %>当サイト新着記事</h4>
			<div class="ninja-recommend-block" id="821bb18b382c26bb047953284277f524">
				<script type="text/javascript" src="http://rcm.shinobi.jp/js/imp.js"></script>
				<script type="text/javascript" src="http://rcm.shinobi.jp/r/821bb18b382c26bb047953284277f524"></script>
			</div>
		</div>

		<div class = "display_only_sp">

			<h4><%= image_tag "newarticles.png" %>当サイト新着記事</h4>
			<ul>
				<% new_articles %>
				<% @new.first(10).each do |popular| %>
				<div class="popular_sidebar_content_sp">
					<div class="popular_sidebar_image_sp">
						<% if popular.crawl_image == nil then %>
						<%= link_to image_tag(popular.image), article_path(popular.id) %>
						<% else %>
						<%= link_to image_tag(popular.crawl_image), article_path(popular.id) %>
						<% end %>
					</div>
					<li><%= link_to "#{popular.title}", article_path(popular.id) %></li>
				</div>
				<% end %>
			</ul>
		</div>
	</div>

</div>

<%= render "show_footer_recommends" %>
<div class = "display_only_pc">
	<%= render "sitemaps/sitemaps" %>
</div>
