<div class = "sitemaps">
	<div class = "col1">
		<div class = "innerblock">
			<h2><%= link_to "ホーム/新着", root_path %></h2>
			<ul>
				<li>
					<%= render :partial => "sitemaps/sitemaparticle", :collection => @sitemaparticles %>
				</li>
			</ul>
			<div class="next">
				<%= link_to "続きを読む", root_path %>
			</div>

			<hr class="line010">
			<h2><%= link_to "人気", popmovies_path %></h2>
			<ul>
				<li>
					<%= render :partial =>'sitemaps/sitemappopular', :collection => @sitemappopulars %>
				</li>
			</ul>
			<div class="next">
				<%= link_to "続きを読む", popmovies_path %>
			</div>
			<hr class="line010">

			<h2><%= link_to "風俗入門", '#' %></h2>
			<hr class="line010">
			
			<%= image_tag "favicon.png" %>
		</div>
	</div>
	<div class = "col2">
		<div class = "innerblock">
			<%= render 'sitemaps/category' %>
		</div>
	</div>
	<div class = "col3">
		<div class = "innerblock">
			<h2><%= link_to "ヘルプ", about_path %></h2>
			<hr class="line010">
			<h2><%= link_to "お問い合わせ", contact_path %></h2>
			<hr class="line010">
			<h2><%= link_to "削除依頼", delcontacts_path %></h2>
			<hr class="line010">
		</div>
	</div>

</div>



