<div class = "sitemaps">
	<div class = "col1">
		<div class = "innerblock">
			<%= image_tag "favicon.png" %>
			<h2><%= link_to "ホーム/新着", root_path %></h2>
			<ul>
				<li>
					<%= render :partial => "sitemaparticle", :collection => @sitemaparticles %>
				</li>
			</ul>
		</div>
	</div>
	<div class = "col2">
		<div class = "innerblock">
			<h2><%= link_to "カテゴリ", categories_path %></h2>
			<ul>

				<li><%= link_to "おっぱい" ,:controller => "cgrpages", :action => "index" %></li>
				<li><%= link_to "AV女優",:controller => "cgrpages", :action => "avactless" %></li>
				<li><%= link_to "美少女" ,:controller => "cgrpages", :action => "beautifull" %></li>
				<li><%= link_to "ギャル" ,:controller => "cgrpages", :action => "nowgirls" %></li>
				<li><%= link_to "素人", :controller => "cgrpages", :action => "amateur" %></li>
				<li><%= link_to "企画" ,:controller => "cgrpages", :action => "planned" %></li>
				<li><%= link_to "フェチ" ,:controller => "cgrpages", :action => "fetish" %></li>
				<li><%= link_to "盗撮" ,:controller => "cgrpages", :action => "peeping" %></li>
				<li><%= link_to "放尿/脱糞" ,:controller => "cgrpages", :action => "scatology" %></li>
				<li><%= link_to "女子高生" ,:controller => "cgrpages", :action => "jk" %></li>
				<li><%= link_to "女子大生" ,:controller => "cgrpages", :action => "jd" %></li>
				<li><%= link_to "お宝/ハプニング", :controller => "cgrpages", :action => "happenings" %></li>
				<li><%= link_to "アイドル", :controller => "cgrpages", :action => "idol" %></li>

			</ul>
		</div>
	</div>
	<div class = "col3">
		<div class = "innerblock">
			<h2><%= link_to "ニュース", news_path %></h2>
			<hr class="line010">
			<h2><%= link_to "人気", popmovies_path %></h2>
			<hr class="line010">
			<h2><%= link_to "風俗入門", '#' %></h2>
			<hr class="line010">
			<h2><%= link_to "ヘルプ", about_path %></h2>
			<hr class="line010">
			<h2><%= link_to "お問い合わせ", contact_path %></h2>
			<hr class="line010">
			<h2><%= link_to "削除依頼", delcontacts_path %></h2>
			<hr class="line010">
		</div>
	</div>

</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57209640-1', 'auto');
  ga('send', 'pageview');

</script>