
<h2>Create Categories</h2>

<div class="form-box">
	<%= form_for @category do |f| %>
	<%= render 'shared/error_messages_category' %>
	<div class="float-form-left">

		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :score %>
		<%= f.text_field :score %>

		<%= f.label :maincateogry %>
		<%= f.select :maincateogry, [["おっぱい","おっぱい"],["大きさ","大きさ"],["鑑賞方法","鑑賞方法"],["形状","形状"],["質感","質感"],["乳首","乳首"],["乳輪","乳輪"],["管理人の評価","管理人の評価"],["体型","体型"],["女の子のタイプ","女の子のタイプ"],["チラリズム","チラリズム"],["プレイのタイプ","プレイのタイプ"],["フェチ","フェチ"],["スカトロ","スカトロ"],["AV女優名","AV女優名"]] %>

		<%= f.submit "Create a Category", class: "btn btn-small" %>
	</div>
	<% end %>
</div>