
<div class = "ad_footer_pc display_only_pc">
	<h2>業界NO.1優良サイト</h2>
	<div class = "ad_footer_pc_right">

		<ul>
			<li><%= image_tag "list.gif" %> やっぱりカリビアンコム</li>
			<li><%= image_tag "list.gif" %> 安心できる日本語サポートは<strong>24時間受付</strong></li>
			<li><%= image_tag "list.gif" %> 入会前にサンプル動画をチェック</li>
			<li><%= image_tag "list.gif" %> 49.50ドル / 30日間</li>
			<li><%= image_tag "list.gif" %> カリビアンでしか見れない<strong>完全オリジナル動画</strong>も多数あり</li>
			<li> ← 中央の三角形をクリックでサンプル動画を見れます</li>	
		</ul>
	</div>
	<div class = "ad_footer_pc_left">
		<iframe src="http://www.mmaaxx.com/fla/carib/3006030/index.html?affid=174083" width="425" height="260" scrolling="no"></iframe>
	</div>
</div>


<div class = "ad_footer_sp display_only_sp">
	<!-- i-mobile for SmartPhone client script -->
	<script type="text/javascript">
	imobile_tag_ver = "0.2"; 
	imobile_pid = "34711"; 
	imobile_asid = "361472"; 
	imobile_type = "inline";
	</script>
	<script type="text/javascript" src="http://spad.i-mobile.co.jp/script/adssp.js?20110215"></script>
	<div id="eroterest_parts" class="eroterest_parts"></div><script async src="http://bpm.eroterest.net/blogparts/?design=1&keyword=&arrow=1&num=6&size=180&itemwidth=400&suffix="></script>
</div>


