
<div class = "ad_footer_pc display_only_pc">
	<h2>業界NO.1優良サイト</h2>
	<div class = "ad_footer_pc_right">

<ul>
	<li><%= image_tag "list.gif" %> やっぱりカリビアンコム</li>
	<li><%= image_tag "list.gif" %> 安心できる日本語サポートは<strong>24時間受付</strong></li>
	<li><%= image_tag "list.gif" %> 入会前にサンプル動画をチェック</li>
	<li><%= image_tag "list.gif" %> 49.50ドル / 30日間</li>
	<li><%= image_tag "list.gif" %> カリビアンでしか見れない<strong>完全オリジナル動画</strong>も多数あり</li>
	<li> ← 中央の三角形をクリックでサンプル動画を見れます</li>	
</ul>
</div>
<div class = "ad_footer_pc_left">
<iframe src="http://www.mmaaxx.com/fla/carib/3006030/index.html?affid=174083" width="425" height="260" scrolling="no"></iframe>
</div>
</div>


<div class = "ad_footer_sp display_only_sp">
	<h2>お金払ってでも質の高い動画を見たい時にオススメ</h2>
	<div class = "ad_footer_sp_top">

<ul>
	<li><%= image_tag "list.gif" %> 老舗で大手のDTIが管理！</li>	
	<li><%= image_tag "list.gif" %> 月額899円で高級エロ動画が見放題</li>
	<li><%= image_tag "list.gif" %> <strong>1日あたり30円!!!</strong></li>
	<li><%= image_tag "list.gif" %> 2週間無料でメーカーAV見放題！</li>
	<li><%= image_tag "list.gif" %> アボッドについて知りたい方は<a href = "http://www.alarmefilaire.com/anzensei.html">こちら</a></li>
</ul>
</div>
<div class = "ad_footer_sp_bottom">
<a href="http://click.dtiserv2.com/Click/1503005-503-174083" target="_blank"><img src="http://affiliate.dtiserv.com/image/avod/1503005.jpg" border="0"></a>
</div>
</div>


