
<div class = "ad_footer_pc display_only_pc">
	<h2>業界NO.1優良サイト</h2>
	<div class = "ad_footer_pc_right">

<ul>
	<li><%= image_tag "list_popular.gif" %> やっぱりカリビアンコム</li>
	<li><%= image_tag "list_popular.gif" %> 安心できる日本語サポートは<strong>24時間受付中</strong></li>
	<li><%= image_tag "list_popular.gif" %> 入会前に「モロ」なサンプル動画をチェックできますよ</li>
	<li><%= image_tag "list_popular.gif" %> 49.50ドル / 30日間</li>
	<li><%= image_tag "list_popular.gif" %> カリビアンでしか見れない<strong>完全オリジナル動画</strong>も多数あり</li>
	<li> ← クリックでサンプル動画視聴ページに行けます</li>	
</ul>
</div>
<div class = "ad_footer_pc_left">
<iframe src="http://www.mmaaxx.com/fla/carib/3006030/index.html?affid=174083" width="425" height="260" scrolling="no"></iframe>
</div>
</div>


<div class = "ad_footer_sp display_only_sp">
	<h2>業界NO.1優良サイト</h2>
	<div class = "ad_footer_sp_top">

<ul>
	<li><%= image_tag "list_popular.gif" %> やっぱりカリビアンコム</li>
	<li><%= image_tag "list_popular.gif" %> 安心できる日本語サポートは<strong>24時間受付中</strong></li>
	<li><%= image_tag "list_popular.gif" %> 入会前に「モロ」なサンプル動画をチェックできますよ</li>
	<li><%= image_tag "list_popular.gif" %> 49.50ドル / 30日間</li>
	<li><%= image_tag "list_popular.gif" %> カリビアンでしか見れない<strong>完全オリジナル動画</strong>も多数あり</li>
	<li> ↓ クリックでサンプル動画視聴ページに行けます</li>	
</ul>
</div>
<div class = "ad_footer_pc_bottom">
<iframe src="http://www.mmaaxx.com/fla/carib/3006030/index.html?affid=174083" width="425" height="260" scrolling="no"></iframe>
</div>
</div>


