<footer class="footer">      
  <small>
    Copyright(C) 2014 おっぱいの海で泳ぎたい-I WANNA DIVE IN BOOBS- All rights reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path   %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Sitemap", sitemaps_path %></li>
      <% if signed_in? %>
      <li><%= link_to "SignOut", signout_path, method: "delete" %></li>
      <li><%= link_to "New", new_article_path %></li>
      <li><%= link_to "NewAv", new_avsample_path %></li>
      <li><%= link_to "Crawl", crawlsites_path %></li>
      <li><%= link_to "Category", "/articles_categories" %></li>
      <li><%= link_to "NewCategory", "/categories/new" %></li>
      <% else %>
      <li><%= link_to "Admin", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</footer>