<footer class="footer">      
  <small>
          <!-- i2iアクセス解析 -->
<span id="noscripttags"><noscript><a href="http://ac6.i2i.jp/bin/nojslink?00560367" target="_blank"><img src="http://ac6.i2i.jp/bin/nojs.php?00560367&amp;guid=ON" border="0" /></a></noscript></span><span id="prtaglink"><a href="http://love-koi.com/" target="_blank"><img src="http://image.love-koi.com/bnr.gif?00560367" border="0" alt="出会い比較" /></a></span>
<script type="text/javascript" src="http://ac6.i2i.jp/bin/2nd_gets.php?00560367"></script>
    Copyright(C) 2014 おっぱいの海で泳ぎたい-I WANNA DIVE IN BOOBS- All rights reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path   %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Sitemap", sitemaps_path %></li>
      <% if signed_in? %>
      <li><%= link_to "SignOut", signout_path, method: "delete" %></li>
      <li><%= link_to "New", new_article_path %></li>
      <% else %>
      <li><%= link_to "Admin", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</footer>