<footer class="footer">      
  <small>
    Copyright(C) 2014 おっぱいの海で泳ぎたい-I WANNA DIVE IN BOOBS- All rights reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", '#'   %></li>
      <li><%= link_to "Contact", '#' %></li>
      <% if signed_in? %>
      <li><%= link_to "SignOut", signout_path, method: "delete" %></li>
      <li><%= link_to "New", new_article_path %></li>
      <% else %>
      <li><%= link_to "Admin", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</footer>