<div id="logo">
	<p><h3>おっぱいの海で泳ぎたい</h3>-I wanna dive in boobs-</p>
</div>
<!-- <p class="intro">
	安心して楽しめるシンプルなエロサイト。</br>18歳以下の方は大人になるまでもう少し辛抱してね。
</p>
  -->
<div class="guide_pc">
	<ul>
		<li><%= link_to "ヘルプ", about_path %></li>
		<li>|</li>
		<li><%= link_to "お問い合わせ", contact_path %></li>
		<li>|</li>
		<li><%= link_to "削除依頼", '#' %></li>
	</ul>
</ul> 

 
<form class="form-search ">
<%= form_tag articles_path, :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "検索", :name => nil %>
<% end %>
</form>