<div id="logo">
	<p><h1>おっぱいの海で泳ぎたい</h1>-I wanna dive in boobs-</p> 
</div>
<!-- <p class="intro">
	安心して楽しめるシンプルなエロサイト。</br>18歳以下の方は大人になるまでもう少し辛抱してね。
</p>
  -->
<div class="guide_pc">
	<ul>
		<li><%= link_to "ヘルプ", about_path %></li>
		<li>|</li>
		<li><%= link_to "お問い合わせ", contact_path %></li>
		<li>|</li>
		<li><%= link_to "削除依頼", delcontacts_path %></li>
<li>|</li>
<li><%= link_to "サイトマップ", sitemaps_path %></li>
<li>|</li>
<li><%= link_to "RSS" , "/articles/1/posts.rss" %></li>
		<li><a href="http://b.hatena.ne.jp/entry/http://dive-in-boobs.com/" class="hatena-bookmark-button" data-hatena-bookmark-title="おっぱいの海で泳ぎたい" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
	</ul>
</ul> 

 
<form class="form-search ">
<span class = "search_description"></span>
<%= form_tag articles_path, :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "全文検索", :name => nil %>
<% end %>
</form>