
<ul class="nav nav-tabs role="tablist"">

    <li ><%= link_to "ホーム/新着", root_path %></li>
    <li ><%= link_to "カテゴリ", categories_path %></li>
    <li ><%= link_to "ニュース", '#' %></li>
    <li ><%= link_to "人気" %></li>
    <li ><%= link_to "風俗入門" %></li>

</ul>


