<div class = "display_only_pc">
	<h4><%= image_tag "manulist.gif" %>おっぱい種別</h4>

	<div class = "hover_list">
		<ul>
			<% @category = Category.all.order("score DESC") %>

			<h5>お乳</h5>
			<% @category.each do |category| %>
			<% if category.maincateogry == "おっぱい" then %>
			<li>
				<a href = <%= "/articles/categories/#{category.name}" %>>
					<%= image_tag "list.png" %>
					<%=  "#{category.name} （#{category.articles.count}）" %>
				</a>
			</li>
			<% else %>
			<% end %>
			<% end %>
			<h5>大きさ</h5>
			<% @category.each do |category| %>
			<% if category.maincateogry == "大きさ" then %>
			<li>
				<a href = <%= "/articles/categories/#{category.name}" %>>
					<%= image_tag "list.png" %>
					<%=  "#{category.name} （#{category.articles.count}）" %>
				</a>
			</li>
			<% else %>
			<% end %>
			<% end %>
			<h5>形状</h5>
			<% @category.each do |category| %>
			<% if category.maincateogry == "形状" then%>
			<li>
				<a href = <%= "/articles/categories/#{category.name}" %>>
					<%= image_tag "list.png" %>
					<%=  "#{category.name} （#{category.articles.count}）" %>
				</a>
			</li>
			<% else %>
			<% end %>
			<% end %>
			<h5>質感</h5>
			<% @category.each do |category| %>
			<% if category.maincateogry == "質感" then %>
			<li>
				<a href = <%= "/articles/categories/#{category.name}" %>>
					<%= image_tag "list.png" %>
					<%=  "#{category.name} （#{category.articles.count}）" %>
				</a>
			</li>
			<% else %>
			<% end %>
			<% end %>
			<h5>乳首</h5>
			<% @category.each do |category| %>
			<% if category.maincateogry == "乳首" then %>
			<li>
				<a href = <%= "/articles/categories/#{category.name}" %>>
					<%= image_tag "list.png" %>
					<%=  "#{category.name} （#{category.articles.count}）" %>
				</a>
			</li>
			<% else %>
			<% end %>
			<% end %>
			<h5>乳輪</h5>
			<% @category.each do |category| %>
			<% if category.maincateogry == "乳輪" then %>
			<li>
				<a href = <%= "/articles/categories/#{category.name}" %>>
					<%= image_tag "list.png" %>
					<%=  "#{category.name} （#{category.articles.count}）" %>
				</a>
			</li>
			<% else %>
			<% end %>
			<% end %>
		</ul>
	</div>
	<div class = "hover_list">
		<ul>
			<h4><%= image_tag "manulist.gif" %>他カテゴリ</h4>
			<h5>体型</h5>
			<% @category.each do |category| %>
			<% if category.maincateogry == "体型" then %>
			<li>
				<a href = <%= "/articles/categories/#{category.name}" %>>
					<%= image_tag "list.png" %>
					<%=  "#{category.name} （#{category.articles.count}）" %>
				</a>
			</li>
			<% else %>
			<% end %>
			<% end %>
			<h5>女の子のタイプ</h5>
			<% @category.each do |category| %>
			<% if category.maincateogry == "女の子のタイプ" then %>
			<li>
				<a href = <%= "/articles/categories/#{category.name}" %>>
					<%= image_tag "list.png" %>
					<%=  "#{category.name} （#{category.articles.count}）" %>
				</a>
			</li>
			<% else %>
			<% end %>
			<% end %>
			<h5>チラリズム</h5>
			<% @category.each do |category| %>
			<% if category.maincateogry == "チラリズム" then %>
			<li>
				<a href = <%= "/articles/categories/#{category.name}" %>>
					<%= image_tag "list.png" %>
					<%=  "#{category.name} （#{category.articles.count}）" %>
				</a>
			</li>
			<% else %>
			<% end %>
			<% end %>
			<h5>プレイのタイプ</h5>
			<% @category.each do |category| %>
			<% if category.maincateogry == "プレイのタイプ" then %>
			<li>
				<a href = <%= "/articles/categories/#{category.name}" %>>
					<%= image_tag "list.png" %>
					<%=  "#{category.name} （#{category.articles.count}）" %>
				</a>
			</li>
			<% else %>
			<% end %>
			<% end %>
			<h5>フェチ</h5>
			<% @category.each do |category| %>
			<% if category.maincateogry == "フェチ" then %>
			<li>
				<a href = <%= "/articles/categories/#{category.name}" %>>
					<%= image_tag "list.png" %>
					<%=  "#{category.name} （#{category.articles.count}）" %>
				</a>
			</li>
			<% else %>
			<% end %>
			<% end %>
			<h5>スカトロ</h5>
			<% @category.each do |category| %>
			<% if category.maincateogry == "スカトロ" then %>
			<li>
				<a href = <%= "/articles/categories/#{category.name}" %>>
					<%= image_tag "list.png" %>
					<%=  "#{category.name} （#{category.articles.count}）" %>
				</a>
			</li>
			<% else %>
			<% end %>
			<% end %>
			<h5>AV女優名</h5>
			<% @category.each do |category| %>
			<% if category.maincateogry == "AV女優名" then %>
			<li>
				<a href = <%= "/articles/categories/#{category.name}" %>>
					<%= image_tag "list.png" %>
					<%=  "#{category.name} （#{category.articles.count}）" %>
				</a>
			</li>
			<% else %>
			<% end %>
			<% end %>
		</ul>
	</div>
</div>
<div class = "display_only_sp">
	<h4><%= image_tag "manulist.gif" %>カテゴリ</h4>
	<div class = "center_sp">
		<div class = "hover_list">
			<ul>
				<% @category = Category.all.order("score DESC") %>

				<h5>お乳</h5>
				<% @category.each do |category| %>
				<% if category.maincateogry == "おっぱい" then %>
				<li>
					<a href = <%= "/articles/categories/#{category.name}" %>>
						<%= image_tag "list.png" %>
						<%=  "#{category.name} （#{category.articles.count}）" %>
					</a>
				</li>
				<% else %>
				<% end %>
				<% end %>
				<h5>大きさ</h5>
				<% @category.each do |category| %>
				<% if category.maincateogry == "大きさ" then %>
				<li>
					<a href = <%= "/articles/categories/#{category.name}" %>>
						<%= image_tag "list.png" %>
						<%=  "#{category.name} （#{category.articles.count}）" %>
					</a>
				</li>
				<% else %>
				<% end %>
				<% end %>
				<h5>形状</h5>
				<% @category.each do |category| %>
				<% if category.maincateogry == "形状" then%>
				<li>
					<a href = <%= "/articles/categories/#{category.name}" %>>
						<%= image_tag "list.png" %>
						<%=  "#{category.name} （#{category.articles.count}）" %>
					</a>
				</li>
				<% else %>
				<% end %>
				<% end %>
				<h5>質感</h5>
				<% @category.each do |category| %>
				<% if category.maincateogry == "質感" then %>
				<li>
					<a href = <%= "/articles/categories/#{category.name}" %>>
						<%= image_tag "list.png" %>
						<%=  "#{category.name} （#{category.articles.count}）" %>
					</a>
				</li>
				<% else %>
				<% end %>
				<% end %>
				<h5>乳首</h5>
				<% @category.each do |category| %>
				<% if category.maincateogry == "乳首" then %>
				<li>
					<a href = <%= "/articles/categories/#{category.name}" %>>
						<%= image_tag "list.png" %>
						<%=  "#{category.name} （#{category.articles.count}）" %>
					</a>
				</li>
				<% else %>
				<% end %>
				<% end %>
				<h5>乳輪</h5>
				<% @category.each do |category| %>
				<% if category.maincateogry == "乳輪" then %>
				<li>
					<a href = <%= "/articles/categories/#{category.name}" %>>
						<%= image_tag "list.png" %>
						<%=  "#{category.name} （#{category.articles.count}）" %>
					</a>
				</li>
				<% else %>
				<% end %>
				<% end %>
			</ul>
		</div>
		<div class = "hover_list">
			<ul>
				<h4><%= image_tag "manulist.gif" %>他カテゴリ</h4>
				<h5>体型</h5>
				<% @category.each do |category| %>
				<% if category.maincateogry == "体型" then %>
				<li>
					<a href = <%= "/articles/categories/#{category.name}" %>>
						<%= image_tag "list.png" %>
						<%=  "#{category.name} （#{category.articles.count}）" %>
					</a>
				</li>
				<% else %>
				<% end %>
				<% end %>
				<h5>女の子のタイプ</h5>
				<% @category.each do |category| %>
				<% if category.maincateogry == "女の子のタイプ" then %>
				<li>
					<a href = <%= "/articles/categories/#{category.name}" %>>
						<%= image_tag "list.png" %>
						<%=  "#{category.name} （#{category.articles.count}）" %>
					</a>
				</li>
				<% else %>
				<% end %>
				<% end %>
				<h5>チラリズム</h5>
				<% @category.each do |category| %>
				<% if category.maincateogry == "チラリズム" then %>
				<li>
					<a href = <%= "/articles/categories/#{category.name}" %>>
						<%= image_tag "list.png" %>
						<%=  "#{category.name} （#{category.articles.count}）" %>
					</a>
				</li>
				<% else %>
				<% end %>
				<% end %>
				<h5>プレイのタイプ</h5>
				<% @category.each do |category| %>
				<% if category.maincateogry == "プレイのタイプ" then %>
				<li>
					<a href = <%= "/articles/categories/#{category.name}" %>>
						<%= image_tag "list.png" %>
						<%=  "#{category.name} （#{category.articles.count}）" %>
					</a>
				</li>
				<% else %>
				<% end %>
				<% end %>
				<h5>フェチ</h5>
				<% @category.each do |category| %>
				<% if category.maincateogry == "フェチ" then %>
				<li>
					<a href = <%= "/articles/categories/#{category.name}" %>>
						<%= image_tag "list.png" %>
						<%=  "#{category.name} （#{category.articles.count}）" %>
					</a>
				</li>
				<% else %>
				<% end %>
				<% end %>
				<h5>スカトロ</h5>
				<% @category.each do |category| %>
				<% if category.maincateogry == "スカトロ" then %>
				<li>
					<a href = <%= "/articles/categories/#{category.name}" %>>
						<%= image_tag "list.png" %>
						<%=  "#{category.name} （#{category.articles.count}）" %>
					</a>
				</li>
				<% else %>
				<% end %>
				<% end %>
				<h5>AV女優名</h5>
				<% @category.each do |category| %>
				<% if category.maincateogry == "AV女優名" then %>
				<li>
					<a href = <%= "/articles/categories/#{category.name}" %>>
						<%= image_tag "list.png" %>
						<%=  "#{category.name} （#{category.articles.count}）" %>
					</a>
				</li>
				<% else %>
				<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</div>



