<div class = "display_only_pc">
	<h4><%= image_tag "manulist.gif" %>メニュー</h4>
	<div class="hover_list">
		<ul>
			<li ><%= link_to "ホーム", root_path %></li>
			<li ><%= link_to "ニュース", news_path %></li>
			<li ><%= link_to "人気" , popmovies_path %></li>
			<li ><%= link_to "風俗入門", '#' %></li>
			<li><%= link_to "ヘルプ", about_path %></li>
			<li><%= link_to "お問い合わせ", contact_path %></li>
			<li><%= link_to "削除依頼", delcontacts_path %></li>
			<li><%= link_to "サイトマップ", sitemaps_path %></li>
			<li><%= link_to "RSS" , "/feeds" %></li>
		</ul>
	</div>
</div>
<div class = "display_only_sp">
	
	<h4><%= image_tag "manulist.gif" %>メニュー</h4>
	<div class = "center_sp">
	<div class="hover_list">
		<ul>
			<li ><%= link_to "ホーム", root_path %></li>
			<li ><%= link_to "ニュース", news_path %></li>
			<li ><%= link_to "人気" , popmovies_path %></li>
			<li ><%= link_to "風俗入門", '#' %></li>
			<li><%= link_to "ヘルプ", about_path %></li>
			<li><%= link_to "お問い合わせ", contact_path %></li>
			<li><%= link_to "削除依頼", delcontacts_path %></li>
			<li><%= link_to "サイトマップ", sitemaps_path %></li>
			<li><%= link_to "RSS" , "/feeds" %></li>
		</ul>
	</div>
	</div>
</div>