
<!--カテゴリ-->
<div class="sidebarbox">
	<%= render "layouts/sidebar_category" %>
</div>
<div class="sidebarbox_popular">
	<%= render "layouts/sidebar_popular" %>
</div>
<div class = "sidebarbox">
	<%= render "layouts/sidebar_menu" %>
</div>
<div class = "sidebarbox">
	<h4><%= image_tag "manulist.gif" %>他サイト人気記事</h4>
	<div id="eroterest_parts" class="eroterest_parts"></div><script src="http://bpm.eroterest.net/blogparts/?design=1&keyword=%E3%81%8A%E3%81%A3%E3%81%B1%E3%81%84%20%E6%94%BE%E5%B0%BF%20%E7%BE%8E%E4%BA%BA%20%E3%81%8A%E5%A7%89%E3%81%95%E3%82%93%20%E3%82%A2%E3%82%A4%E3%83%89%E3%83%AB%20%E5%A5%B3%E5%AD%90%E9%AB%98%E7%94%9F%20%E5%A5%B3%E5%AD%90%E5%A4%A7%E7%94%9F%20%E7%B4%A0%E4%BA%BA%20%E3%83%95%E3%82%A7%E3%83%81%20&arrow=0&num=6&size=200&itemwidth=200&suffix="></script>
</div>
<!-- アダルトブログランキング -->
<a href="http://www.adultblogranking.com/link.php?1699644" title="アダルトブログランキングへ"><img src="http://image.with2.net/img/banner/adultblogranking_banner_b.gif" width="70" height="15" border="0" /></a><br /><a href="http://www.adultblogranking.com/link.php?1699644" style="font-size:12px;"></a>

<div class = "sidebar_index">
	<div class="sidebarbox">
		<h4><%= image_tag "manulist.gif" %>アクセスランキング</h4>
		<!-- ACRランキング -->
		<SCRIPT TYPE="text/javascript" SRC="http://rranking.ziyu.net/js/6683ad.js" charset=utf-8></SCRIPT>
		全ランキングは<a href = "http://rranking.ziyu.net/html/6683ad.html">こちら</a>から
	</div>
</div>
<div class = "sidebarbox">
	<h4><%= image_tag "manulist.gif" %>ピックアップサイト</h4>
	<ul>
		<div class = "sidebarbox_inner">
		<a href = "http://adultcity.to/in/11226/"><%= image_tag "adultcity.jpg" %></a>
			<li><a href = "http://adultcity.to/in/11226/">アダルトシティ</a></li>
				毎日大量に投稿されるアダルト無料動画サイトからの投稿動画・画像が満載！
			</div>
			<div class = "sidebarbox_inner">

		<a href = "http://wav.tv/"><%= image_tag "adultdoganavi.png" %></a>
			<li><a href = "http://wav.tv/">アダルト動画ナビ</a></li>
			XVIDEOS, pornhost, redtubeなどの無料動画を日本語で検索出来るサイト
			</div>
		<div class = "sidebarbox_inner">
			<a href = "http://adult.likevideo.jp/"><%= image_tag "likevideojp.png" %></a>
			<li><a href = "http://adult.likevideo.jp/">likevideo.jp</a></li>
			アダルト動画を日本語で検索可能。サイトの登録基準も厳し目ですので、良質な動画が見つかります
		</div>
		<div class = "sidebarbox_inner">
		<a href = "http://eronews.ranks1.apserver.net/share/in.php?u=eronews&id=6683pc"><%= image_tag "eroshinbun.png"%> </a>
			<li><a href = "http://eronews.ranks1.apserver.net/share/in.php?u=eronews&id=6683pc">毎日エロ新聞</a></li>
			エロ画像・動画リンクを毎日更新。アダルトサイトのリンク集です。お気に入りサイトを発掘しましょう。
		</div>
		<div class = "sidebarbox_inner">
		<a href = "http://eromoviechannel.ranks1.apserver.net/share/in.php?u=eromoviechannel&id=6683pc"><%= image_tag "eromoviechannel.png"%> </a>
			<li><a href = "http://eromoviechannel.ranks1.apserver.net/share/in.php?u=eromoviechannel&id=6683pc">エロムービーちゃんねる</a></li>
			無料で見れるエロ動画を海外の動画共有サイトから厳選して毎日配信中。
		</div>


	</ul>
</div>


<!-- 相互リンク -->
<%= render 'layouts/mutual_links' %>
<div class="sidebarbox">
	<h4><%= image_tag "manulist.gif" %>セクロスあんてな</h4>
	<!--セクロスあんてな-->
	<li><div id="sekurosu_vertical"></div><script src="http://sekurosu.com/embed?num=6&height=200&type=vertical&genre=all"></script><p class="sekurosu_parts_copyright">powered by <a href="http://sekurosu.com" target="_blank" title="セクロスあんてな">セクロスあんてな</a></p></li>
</div>
<div class="sidebarbox">
	<h4><%= image_tag "manulist.gif" %>逆アクセスRSS</h4>
	<!-- 逆アクRSS -->
	<div id="blz_reverse_629_38">
		<script type="text/javascript">
		<!--
		var blzP='reverse',blzU='629',blzT='38';
		-->
		</script>
		<script src="https://blozoo.com/js/reversetool/blogparts.js"></script>
		<script src="https://blozoo.com/js/reversetool/analyze.js"></script>
	</div>
	<!-- https://blozoo.com/ -->
</div>
<div class="sidebarbox">
	<h4>PR</h4>
	<!-- admax -->
	<script src="http://adm.shinobi.jp/s/15da1ebd75a2c77eeeebc8619f1bce32"></script>
	<!-- admax -->
</div>

</div>
