<h4><%= image_tag "manulist.gif" %>PR</h4>
<!-- admax -->
<script src="http://adm.shinobi.jp/s/0c3e3b850042879d6388340f48f98eaf"></script>
<!-- admax -->
<div class="popular_sidebar_sp">
	<%= render "layouts/sidebar_popular" %>
</div>

<div class="category_sidebar_sp">
	<%= render "layouts/sidebar_category" %>
</div>
<div class="menu_sidebar_sp">
	<%= render "layouts/sidebar_menu" %>
</div>
<div class="ranking_sidebar_sp">
	<!-- ACRランキング -->
<SCRIPT TYPE="text/javascript" SRC="http://rranking.ziyu.net/js/6683sp.js" charset=utf-8></SCRIPT>
</div>
<div class="mutuallinks_sidebar_sp">
	<%= render 'layouts/mutual_links' %>
</div>

