
<!--カテゴリ-->
<div class="sidebarbox">
	<%= render "layouts/sidebar_category" %>
</div>
<div class="sidebarbox_popular">
	<%= render "layouts/sidebar_popular" %>
</div>
<div class = "sidebarbox">
	<%= render "layouts/sidebar_menu" %>
</div>
<div class = "sidebarbox">
	<h4><%= image_tag "manulist.gif" %>他サイト人気記事</h4>
	<div id="eroterest_parts" class="eroterest_parts"></div><script src="http://bpm.eroterest.net/blogparts/?design=1&keyword=%E3%81%8A%E3%81%A3%E3%81%B1%E3%81%84%20%E6%94%BE%E5%B0%BF%20%E7%BE%8E%E4%BA%BA%20%E3%81%8A%E5%A7%89%E3%81%95%E3%82%93%20%E3%82%A2%E3%82%A4%E3%83%89%E3%83%AB%20%E5%A5%B3%E5%AD%90%E9%AB%98%E7%94%9F%20%E5%A5%B3%E5%AD%90%E5%A4%A7%E7%94%9F%20%E7%B4%A0%E4%BA%BA%20%E3%83%95%E3%82%A7%E3%83%81%20&arrow=0&num=6&size=200&itemwidth=200&suffix="></script>
</div>
<!-- アダルトブログランキング -->
<a href="http://www.adultblogranking.com/link.php?1699644" title="アダルトブログランキングへ"><img src="http://image.with2.net/img/banner/adultblogranking_banner_b.gif" width="70" height="15" border="0" /></a><br /><a href="http://www.adultblogranking.com/link.php?1699644" style="font-size:12px;"></a>

<div class = "sidebar_index">
	<div class="sidebarbox">
		<h4><%= image_tag "manulist.gif" %>アクセスランキング</h4>
		<!-- ACRランキング -->
		<SCRIPT TYPE="text/javascript" SRC="http://rranking.ziyu.net/js/6683ad.js" charset=utf-8></SCRIPT>
		全ランキングは<a href = "http://rranking.ziyu.net/html/6683ad.html">こちら</a>から
	</div>
</div>
<div class = "sidebarbox">
	<h4><%= image_tag "manulist.gif" %>ピックアップサイト</h4>
	<ul>
		<div class = "sidebarbox_inner">
		<a href = "http://adultcity.to/in/11226/"><%= image_tag "adultcity.jpg" %></a>
			<li><a href = "http://adultcity.to/in/11226/">アダルトシティ</a></li>
				毎日大量に投稿されるアダルト無料動画サイトからの投稿動画・画像が満載！
			</div>
			<div class = "sidebarbox_inner">

		<a href = "http://wav.tv/"><%= image_tag "adultdoganavi.png" %></a>
			<li><a href = "http://wav.tv/">アダルト動画ナビ</a></li>
			XVIDEOS, pornhost, redtubeなどの無料動画を日本語で検索出来るサイト
			</div>
		<div class = "sidebarbox_inner">
			<a href = "http://adult.likevideo.jp/"><%= image_tag "likevideojp.png" %></a>
			<li><a href = "http://adult.likevideo.jp/">likevideo.jp</a></li>
			アダルト動画を日本語で検索可能。サイトの登録基準も厳し目ですので、良質な動画が見つかります
		</div>
		<div class = "sidebarbox_inner">
		<a href = "http://eronews.ranks1.apserver.net/share/in.php?u=eronews&id=6683pc"><%= image_tag "eroshinbun.png"%> </a>
			<li><a href = "http://eronews.ranks1.apserver.net/share/in.php?u=eronews&id=6683pc">毎日エロ新聞</a></li>
			エロ画像・動画リンクを毎日更新。アダルトサイトのリンク集です。お気に入りサイトを発掘しましょう。
		</div>
		<div class = "sidebarbox_inner">
		<a href = "http://eromoviechannel.ranks1.apserver.net/share/in.php?u=eromoviechannel&id=6683pc"><%= image_tag "eromoviechannel.png"%> </a>
			<li><a href = "http://eromoviechannel.ranks1.apserver.net/share/in.php?u=eromoviechannel&id=6683pc">エロムービーちゃんねる</a></li>
			無料で見れるエロ動画を海外の動画共有サイトから厳選して毎日配信中。
		</div>


	</ul>
</div>

<div class="sidebarbox">
<!-- 相互リンク -->
<%= render 'layouts/mutual_links' %>
</div>

<div class="sidebarbox">
	<h4><%= image_tag "manulist.gif" %>Twitter</h4>
	<div class="sidebarbox_inner">
更新情報をリアルタイムでお届け中。</br>必ずフォローはお返ししますので気軽にフォローしてね。
<a href="http://twitter.com/" target="_blank"><img src="http://bp.seo119.com/banner-img/cupsel_1.gif" alt="Twitter" border="0" /></a><br /><a href="http://www.seo119.com/" style="font-size:10px;" target="_blank" title="119">119</a>
	</div>
	<!-- start TweetsWind code -->
<iframe     scrolling="no" frameborder="0" id="twitterWindIframe"     style="width:190px;height:400px; border:none;"     src="http://www.tweetswind.com/show?option=%7B%22isOnlyMe%22%3A%20%22true%22%2C%20%22twitterwind_frame_width%22%3A%20%22190%22%2C%20%22twitterwind_frame_height%22%3A%20%22400%22%2C%20%22twitterwind_frame_border%22%3A%20%22none%22%2C%20%22twitterwind_frame_border_color%22%3A%20%22C0DEED%22%2C%20%22twitterwind_base_font_size%22%3A%20%2212%22%2C%20%22twitterwind_logoimage%22%3A%20%22whiteonblue%22%2C%20%22twitterwind_username%22%3A%20%22none%22%2C%20%22twitterwind_username_bgcolor%22%3A%20%22FFFFFF%22%2C%20%22twitterwind_username_color%22%3A%20%22333333%22%2C%20%22twitterwind_username_follow%22%3A%20%22on%22%2C%20%22twitterwind_max_length%22%3A%20%2239%22%2C%20%22twitterwind_logo_bgcolor%22%3A%20%22FFFFFF%22%2C%20%22twitterwind_twit%22%3A%20%22on%22%2C%20%22twitterwind_twit_scroll_color%22%3A%20%22565A5C%22%2C%20%22twitterwind_twit_scroll_bg_color%22%3A%20%22E8DAE8%22%2C%20%22twitterwind_twit_bgcolor%22%3A%20%22FFFFFF%22%2C%20%22twitterwind_twit_color%22%3A%20%22333333%22%2C%20%22twitterwind_twit_link_color%22%3A%20%22000FB3%22%2C%20%22twitterwind_opacity%22%3A%20%22off%22%2C%20%22twitterwind_follower%22%3A%20%22none%22%2C%20%22twitterwind_follower_bgcolor%22%3A%20%22FFFFFF%22%2C%20%22usn%22%3A%20%22151980%22%7D"     > </iframe>
<!--利用規約に従ってページ内に必ずリンクを表示してください-->
<div style="font-size:12px; text-align:right; width:190px"><a target="_blank" href="http://www.tweetswind.com">TweetsWind</a></div> 
<!-- end TweetsWind code -->

</div>


</div>
