
<!--カテゴリ-->
<div class="category_sidebar">
	<h4><%= image_tag "manulist.gif" %>カテゴリ</h4>
	<ul>
		<div class="nav nav-pills nav-stacked">
			<li><%= link_to "おっぱい（#{cgrpages_count("おっぱい")}）" ,:controller => "cgrpages", :action => "index" %></li>
			<li><%= link_to "AV女優（#{cgrpages_count("AV女優")}）",:controller => "cgrpages", :action => "avactless" %></li>
			<li><%= link_to "美少女（#{cgrpages_count("美少女")}）" ,:controller => "cgrpages", :action => "beautifull" %></li>
			<li><%= link_to "ギャル（#{cgrpages_count("ギャル")}）" ,:controller => "cgrpages", :action => "nowgirls" %></li>
			<li><%= link_to "素人（#{cgrpages_count("素人")}）", :controller => "cgrpages", :action => "amateur" %></li>
			<li><%= link_to "企画（#{cgrpages_count("企画")}）" ,:controller => "cgrpages", :action => "planned" %></li>
			<li><%= link_to "フェチ（#{cgrpages_count("フェチ")}）" ,:controller => "cgrpages", :action => "fetish" %></li>
			<li><%= link_to "盗撮（#{cgrpages_count("盗撮")}）" ,:controller => "cgrpages", :action => "peeping" %></li>
			<li><%= link_to "放尿/脱糞（#{cgrpages_count("放尿/脱糞")}）" ,:controller => "cgrpages", :action => "scatology" %></li>
			<li><%= link_to "女子高生（#{cgrpages_count("女子高生")}）" ,:controller => "cgrpages", :action => "jk" %></li>
			<li><%= link_to "女子大生（#{cgrpages_count("女子大生")}）" ,:controller => "cgrpages", :action => "jd" %></li>
			<li><%= link_to "お宝/ハプニング（#{cgrpages_count("お宝/ハプニング")}）", :controller => "cgrpages", :action => "happenings" %></li>
			<li><%= link_to "アイドル（#{cgrpages_count("アイドル")}）", :controller => "cgrpages", :action => "idol" %></li>
		</div>
	</ul>
</div>
<div class="popular_sidebar">
	<h4><%= image_tag "manulist.gif" %>最新の人気記事</h4>
	<ul>
		<% popular_sidebar %>
		<% @popular.first(5).each do |popular| %>
		<div class="popular_sidebar_content">
			<div class="popular_sidebar_image">
				<% if popular.crawl_image == nil then %>
				<%= link_to image_tag(popular.image), article_path(popular.id) %>
				<% else %>
				<%= link_to image_tag(popular.crawl_image), article_path(popular.id) %>
				<% end %>
			</div>
			<li><%= link_to "#{popular.title}", article_path(popular.id) %></li>
		</div>
		<% end %>
	</ul>
</div>
	<h4><%= image_tag "manulist.gif" %>メニュー</h4>
	<div class="nav nav-pills nav-stacked">
		<li ><%= link_to "ホーム", root_path %></li>
		<li ><%= link_to "ニュース", news_path %></li>
		<li ><%= link_to "人気" , popmovies_path %></li>
		<li ><%= link_to "風俗入門", '#' %></li>
		<li><%= link_to "ヘルプ", about_path %></li>
		<li><%= link_to "お問い合わせ", contact_path %></li>
		<li><%= link_to "削除依頼", delcontacts_path %></li>
		<li><%= link_to "サイトマップ", sitemaps_path %></li>
		<li><%= link_to "RSS" , "/articles/1/posts.rss" %></li>
	</div>
<!-- アダルトブログランキング -->
<a href="http://www.adultblogranking.com/link.php?1699644" title="アダルトブログランキングへ"><img src="http://image.with2.net/img/banner/adultblogranking_banner_b.gif" width="70" height="15" border="0" /></a><br /><a href="http://www.adultblogranking.com/link.php?1699644" style="font-size:12px;"></a>

<div class = "sidebar_index">
<!-- ACRランキング -->
<SCRIPT TYPE="text/javascript" SRC="http://rranking.ziyu.net/js/6683ad.js" charset=utf-8></SCRIPT>
	全ランキングは<a href = "http://rranking.ziyu.net/html/6683ad.html">こちら</a>から
</div>

<!-- admax -->
<script src="http://adm.shinobi.jp/s/15da1ebd75a2c77eeeebc8619f1bce32"></script>
<!-- admax -->

<!-- 相互リンク -->
<%= render 'layouts/mutual_links' %>

	<!--セクロスあんてな-->
	<li><div id="sekurosu_vertical"></div><script src="http://sekurosu.com/embed?num=6&height=180&type=vertical&genre=all"></script><p class="sekurosu_parts_copyright">powered by <a href="http://sekurosu.com" target="_blank" title="セクロスあんてな">セクロスあんてな</a></p></li>
	<!-- DTIブログランキング -->
	<iframe src="http://www.dti-ranker.com/rank/8700dc/main.htm" frameborder="0" width="190" height="800" scrolling="auto"></iframe>

</div>
