<div class = "display_only_pc">
	<h4><%= image_tag "manulist.gif" %>カテゴリ</h4>
	<ul>
		<div class="nav nav-pills nav-stacked">
			<li><%= link_to "おっぱい（#{cgrpages_count("おっぱい")}）" ,:controller => "cgrpages", :action => "index" %></li>
			<li><%= link_to "巨乳（#{cgrpages_count("巨乳")})",:controller => "cgrpages", :action => "bigboobs" %></li>
			<li><%= link_to "jk（#{cgrpages_count("女子高生")})",:controller => "cgrpages", :action => "jk" %></li>
			<li><%= link_to "jd（#{cgrpages_count("jd")})", :controller => "cgrpages", :action => "jd" %></li>
			<li><%= link_to "パンチラ(#{cgrpages_count("パンチラ")})", :controller => "cgrpages", :action => "pantyshots" %></li>
			<li><%= link_to "胸チラ(#{cgrpages_count("胸チラ")})", :controller => "cgrpages", :action => "downblouse" %></li>
			<li><%= link_to "AV女優(#{cgrpages_count("AV女優")})", :controller => "cgrpages", :action => "avactless" %></li>
			<li><%= link_to "素人（#{cgrpages_count("素人")}）", :controller => "cgrpages", :action => "amateur" %></li>
			<li><%= link_to "美女（#{cgrpages_count("美女")})", :controller => "cgrpages", :action => "beauty" %></li>
			<li><%= link_to "レイプ（#{cgrpages_count("レイプ")})", :controller => "cgrpages", :action => "rape" %></li>
			<li><%= link_to "フェラ/手コキ(#{cgrpages_count("フェラ/手コキ")})", :controller => "cgrpages", :action => "fellahandjob" %></li>
			<li><%= link_to "盗撮（#{cgrpages_count("盗撮")}）" ,:controller => "cgrpages", :action => "peeping" %></li>
			<li><%= link_to "近親相姦（#{cgrpages_count("近親相姦")})" ,:controller => "cgrpages", :action => "incest" %></li>
			<li><%= link_to "中出し（#{cgrpages_count("中出し")})", :controller => "cgrpages", :action => "pies" %></li>
			<li><%= link_to "爆乳（#{cgrpages_count("爆乳")})",:controller => "cgrpages", :action => "dynamiteboobs" %></li>
			<li><%= link_to "貧乳（#{cgrpages_count("貧乳")})", :controller => "cgrpages", :action => "tinyboobs" %></li>
			<li><%= link_to "美乳（#{cgrpages_count("美乳")})", :controller => "cgrpages", :action => "wellshapedboobs" %></li>
			<li><%= link_to "ライブチャット(#{cgrpages_count("ライブチャット")})",:controller => "cgrpages", :action => "livechat" %></li>
			<li><%= link_to "ギャル（#{cgrpages_count("ギャル")}", :controller => "cgrpages", :action => "nowgirls" %></li>
			<li><%= link_to "美少女（#{cgrpages_count("美少女")}）" ,:controller => "cgrpages", :action => "beautifull" %></li>
			<li><%= link_to "野外露出（#{cgrpages_count("野外露出")})",:controller => "cgrpages", :action =>"publicexposure" %></li>
			<li><%= link_to "アイドル（#{cgrpages_count("アイドル")}",:controller => "cgrpages", :action => "idol" %></li>
			<li><%= link_to "放尿/脱糞（#{cgrpages_count("放尿/脱糞")}）" ,:controller => "cgrpages", :action => "scatology" %></li>

			<li><%= link_to "放送事故（#{cgrpages_count("放送事故")})",:controller => "cgrpages", :action => "accident" %></li>
			<li><%= link_to "個人撮影（#{cgrpages_count("個人撮影")})", :controller => "cgrpages", :action => "amaturefilm" %></li>
			<li><%= link_to "お宝/ハプニング（#{cgrpages_count("お宝/ハプニング")}）", :controller => "cgrpages", :action => "happenings" %></li>

		</div>
	</ul>
</div>
<div class = "display_only_sp">

	<h4><%= image_tag "manulist.gif" %>カテゴリ</h4>
	<ul>
		<div class="nav nav-pills nav-stacked">
			<li><%= link_to "おっぱい（#{cgrpages_count("おっぱい")}）" ,:controller => "cgrpages", :action => "index" %></li>
			<li><%= link_to "巨乳（#{cgrpages_count("巨乳")})",:controller => "cgrpages", :action => "bigboobs" %></li>
			<li><%= link_to "jk（#{cgrpages_count("女子高生")})",:controller => "cgrpages", :action => "jk" %></li>
			<li><%= link_to "jd（#{cgrpages_count("jd")})", :controller => "cgrpages", :action => "jd" %></li>
			<li><%= link_to "パンチラ(#{cgrpages_count("パンチラ")})", :controller => "cgrpages", :action => "pantyshots" %></li>
			<li><%= link_to "胸チラ(#{cgrpages_count("胸チラ")})", :controller => "cgrpages", :action => "downblouse" %></li>
			<li><%= link_to "AV女優(#{cgrpages_count("AV女優")})", :controller => "cgrpages", :action => "avactless" %></li>
			<li><%= link_to "素人（#{cgrpages_count("素人")}）", :controller => "cgrpages", :action => "amateur" %></li>
			<li><%= link_to "美女（#{cgrpages_count("美女")})", :controller => "cgrpages", :action => "beauty" %></li>
			<li><%= link_to "レイプ（#{cgrpages_count("レイプ")})", :controller => "cgrpages", :action => "rape" %></li>
			<li><%= link_to "フェラ/手コキ(#{cgrpages_count("フェラ/手コキ")})", :controller => "cgrpages", :action => "fellahandjob" %></li>
			<li><%= link_to "盗撮（#{cgrpages_count("盗撮")}）" ,:controller => "cgrpages", :action => "peeping" %></li>
			<li><%= link_to "近親相姦（#{cgrpages_count("近親相姦")})" ,:controller => "cgrpages", :action => "incest" %></li>
			<li><%= link_to "中出し（#{cgrpages_count("中出し")})", :controller => "cgrpages", :action => "pies" %></li>
			<li><%= link_to "爆乳（#{cgrpages_count("爆乳")})",:controller => "cgrpages", :action => "dynamiteboobs" %></li>
			<li><%= link_to "貧乳（#{cgrpages_count("貧乳")})", :controller => "cgrpages", :action => "tinyboobs" %></li>
			<li><%= link_to "美乳（#{cgrpages_count("美乳")})", :controller => "cgrpages", :action => "wellshapedboobs" %></li>
			<li><%= link_to "ライブチャット(#{cgrpages_count("ライブチャット")})",:controller => "cgrpages", :action => "livechat" %></li>
			<li><%= link_to "ギャル（#{cgrpages_count("ギャル")}", :controller => "cgrpages", :action => "nowgirls" %></li>
			<li><%= link_to "美少女（#{cgrpages_count("美少女")}）" ,:controller => "cgrpages", :action => "beautifull" %></li>
			<li><%= link_to "野外露出（#{cgrpages_count("野外露出")})",:controller => "cgrpages", :action =>"publicexposure" %></li>
			<li><%= link_to "アイドル（#{cgrpages_count("アイドル")}",:controller => "cgrpages", :action => "idol" %></li>
			<li><%= link_to "放尿/脱糞（#{cgrpages_count("放尿/脱糞")}）" ,:controller => "cgrpages", :action => "scatology" %></li>

			<li><%= link_to "放送事故（#{cgrpages_count("放送事故")})",:controller => "cgrpages", :action => "accident" %></li>
			<li><%= link_to "個人撮影（#{cgrpages_count("個人撮影")})", :controller => "cgrpages", :action => "amaturefilm" %></li>
			<li><%= link_to "お宝/ハプニング（#{cgrpages_count("お宝/ハプニング")}）", :controller => "cgrpages", :action => "happenings" %></li>

		</div>
	</ul>
</div>