<div class = "display_only_pc">
	<h4><%= image_tag "manulist.gif" %>カテゴリ</h4>

	<table class = "category_table_pc">
		<tbody>
			<% @category = Category.all.order("score DESC") %>
			<% @category.each do |category| %>
			<tr>
				<td><%= image_tag("list.png") %>  <%= link_to "#{category.name} （#{category.articles.count}）", "/articles/categories/#{category.name}" %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div class = "display_only_sp">

	<h4><%= image_tag "manulist.gif" %>カテゴリ</h4>
	<ul>
		<div class="nav nav-pills nav-stacked">
			<% @category = Category.all.order("score DESC") %>
			<% @category.each do |category| %>
			<li>
				<%= link_to "#{category.name} （#{category.articles.count}）", "/articles/categories/#{category.name}" %>
			</li>
			<% end %>
		</div>
	</ul>
</div>