
<div class="popular_sidebar_sp">
	<%= render "layouts/sidebar_popular" %>
</div>

<div class="category_sidebar_sp">
	<%= render "layouts/sidebar_category" %>
</div>
<div class="menu_sidebar_sp">
	<%= render "layouts/sidebar_menu" %>
</div>

<div class = "popular_sidebar_sp">
	<h4><%= image_tag "manulist.gif" %>おっぱいツイッター</h4>
	<div class="sidebarbox_inner_sp">
		更新情報をリアルタイムでお届け中。</br>必ずフォローはお返ししますので気軽にフォローしてね。	
		<a href="http://twitter.com/" target="_blank"><img src="http://bp.seo119.com/banner-img/cupsel_1.gif" alt="Twitter" border="0" /></a><br /><a href="http://www.seo119.com/" style="font-size:10px;" target="_blank" title="119">119</a>
	</div>
</div>

<div class="mutuallinks_sidebar_sp">
	<%= render 'layouts/mutual_links' %>
</div>

