<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all",
  "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./bootstrap/css/bootstrap-responsive.min.css">
</head>
<body>
  <div class="container-fluid"> 
    <%= render 'layouts/header_text' %>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/breadcrumbs' %>

  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span7">
        <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      　<% end %>
        <%= yield %>
      </div>
      <div class= "span5">
        <div class= "row-fluid">
          <div class="span6">
            <%= render 'layouts/sidebar' %>
          </div>
          <div class="span4">
            <%= render 'layouts/sidebar_ads'%>
          </div>
        </div>

      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
  
</body>
<div class="container">
  <%= debug(params) if Rails.env.development? %>
</div>
</html>