<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="おっぱいの海で泳ぎたいでは「オナニータイムを節約せよ」をモットーに、良質なおっぱい動画と無料AV動画を厳選して配信中。騙しリンク一切なし。初心者でも安心して楽しめる超優良アダルトサイトの決定版。"/>
  <meta name="keywords" content="おっぱい,エログ,動画,AV,dive in boobs"/>
  <meta name="msvalidate.01" content="4C1403001833461E973D693C67EF68EA" />
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- rss検出 -->
  <%= auto_discovery_link_tag :atom, "/feeds" %>
  <%= auto_discovery_link_tag :rss, "/feeds.rss" %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- bootstrap -->
  <meta name="viewport" content="width=device-width;initial-scale=1.0;user-scarable=no;
  "/>
  <%= favicon_link_tag  %>
  <meta name="google-site-verification" content="UPY9nTVKhz-rlEPqt1_1pyteNjbCuHM3XR000DqgLM8" />
  <%= analytics_init if Rails.env.production? %>
  <!-- ACRwebランキング用 -->
  <!-- PC -->
  <SCRIPT async TYPE="text/javascript" SRC="http://rranking.ziyu.net/rank.php?6683ad"></SCRIPT><A href="http://www.ziyu.net/" target=_blank><IMG SRC="http://rranking.ziyu.net/rranking.gif" alt="アクセスランキング" border=0 width=35 height=11></A><NOSCRIPT><A href="http://www.ziyu.net/" target=_blank>アクセスランキング</A></NOSCRIPT>
  <!-- SP -->
  <SCRIPT async TYPE="text/javascript" SRC="http://rranking.ziyu.net/rank.php?6683sp"></SCRIPT><A href="http://www.ziyu.net/" target=_blank><IMG SRC="http://rranking.ziyu.net/rranking.gif" alt="アクセスランキング" border=0 width=35 height=11></A><NOSCRIPT><A href="http://www.ziyu.net/" target=_blank>アクセスランキング</A></NOSCRIPT>

</head>
<body>
 <%= render 'layouts/navbar' %>
 <div class="paisea">
  <div class="content">

    <div class="maincol_index">

      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
      <% end %>

      <div class="maincol_index_content">
        <%= yield %>
      </div>

    </div>
    <div class="maincol_index_sidebar display_only_pc">

      <%= render 'layouts/sidebar_ads'%>

    </div>
    <div class="maincol_index_sidebar_sp display_only_sp">

      <%= render 'layouts/sidebar_sp' %>

    </div>


  </div>
  <%= render 'layouts/footer' %>
</div>
<%= debug(params) if Rails.env.development? %>
</body>
</html>





